"*":
  core:
    closeDeletedFileTabs: true
    telemetryConsent: "no"
  editor:
    fontSize: 15
  "exception-reporting":
    userId: "3dfd69e4-b9b9-4806-90c8-543fb9a71215"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
