packages: [
  "advanced-open-file"
  "atom-ide-ui"
  "atom-react"
  "atom-typescript"
  "atomify"
  "bug-report"
  "busy-signal"
  "emmet"
  "es6-snippets"
  "highlight-line"
  "html-shorcuts-react"
  "intentions"
  "language-generic-config"
  "linter"
  "linter-eslint"
  "linter-ruby"
  "linter-ui-default"
  "minimap"
  "monokai"
  "nuclide"
  "package-sync"
  "rails-partials"
  "rails-rspec"
  "rails-snippets"
  "react"
  "react-es6-snippets"
  "react-generatr"
  "react-redux-snippets"
  "react-snippets"
  "red-wavy-underline"
  "ruby-block"
  "script"
  "terminal-plus"
]
